
:root {
  --primary-color: #4f46e5;
  --secondary-color: #6366f1;
  --background-color: #f9fafb;
  --background-color2: #fff;
  --input-bg: #fff;
  --input-border: #d1d5db;
  --text-color: #111827;
  --error-color: #dc2626;
  --link-color: var(--primary-color);
  --button-color: var(--primary-color);
  --button-text: #fff;
  --border-radius: 8px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}